body {
	font-family: 'Trebuchet MS', sans-serif;
	background-color: black;
	color: #e2f3f5;
}
#rr {
	width: 1000;
	height: 800;
}
TABLE,th,td{
	padding:1px;
	border-collapse: collapse;
	border: 2px solid #e2f3f5;
}
#long{
	width: 250;
	height:550
}
#raid{
	text-decoration: line-through;
	overflow: scroll;
	width: 400px;
	height:100px
}
a{
	text-decoration: none;
	color: #22d1ee;
}
table,audio{
	width:100%
}
#tinput{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: flex-start;
}
#item1{
	flex-grow:2
	width:90%
}#item2{

}
