body {
	font-family: 'Trebuchet MS', sans-serif;
	background-color: black;
	color: white;
}
#rr {
	width: 1000;
	height: 800;
}
TABLE,th,td{
	padding:1px;
	border-collapse: collapse;
	border: 2px solid white;
}
#long{
	width: 250;
	height:550
}
#raid{
	text-decoration: line-through;
	overflow: scroll;
	width: 400px;
	height:100px
}
a{
	text-decoration: none;
	color: #00aeff;
}
