* {
    margin: 0 auto;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

body {
    background-color: #12181b;
    color: #b2becd;
}

h1 {
    padding-top: 5vw;
    padding-bottom: 5vw;
    position: fied;

}

.bold,
h1 {
    color: #f8f8f8;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: arial;
    opacity: 1;
}

#nav {
    position: fixed;
}

#nee,
#neee {
    border-left: 3px solid #6c7983;
}

ul li {
    float: left;
    width: 33vw;
    height: 40px;
    background-color: #2a2e35;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    opacity: 1;

}

.crossed {
    text-decoration: line-through;
}

iframe {
    height: 75vh;
    width: 80vw;
}

ul li a {
    text-decoration: none;
    color: white;
    display: block;
    opacity: 1;
    background-color: #454e56
}

ul li a:hover {
    background-color: #6c7983;
    opacity: 1;
    color: #dbe1e8;
}

ul li ul li {
    display: none;
    background-color: rgb(0, 37, 0);
    opacity: 1;
    border: none;
}

ul li:hover ul li {
    display: block;
}

.raid {
    max-width: 100vw;
    overflow: scroll;
    width: 400px;
    height: 100px;
    margin: 0 auto;
}

img {
    margin: 0 auto;
    max-width: 100vw;
}

table,
th,
td {
    margin: 0 auto;
    padding: 1px;
    border-collapse: collapse;
    border: 2px solid #e2f3f5;
}

tbody tr {
    cursor: pointer;
    -webkit-transition: 0.5s background cubic-bezier(0.86, 0, 0.07, 1);
    transition: 0.5s background cubic-bezier(0.86, 0, 0.07, 1);
}

tbody tr:hover {
    background: rgb(96, 96, 96);
}

tbody tr:hover .options {
    width: auto;
    opacity: 1;
}

tr {
    border-bottom: 1px solid rgba(140, 140, 140, 0.17);
}

th {
    line-height: 32px;
    font-weight: bold;
}

th,
td {
    text-align: left;
    padding: 1em;
    max-height: 32px;
    height: 32px;
    line-height: 32px;
}

th.options,
td.options {
    opacity: 0;
    overflow: hidden;
    max-height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-transition: 1s opacity cubic-bezier(0.86, 0, 0.07, 1);
    transition: 1s opacity cubic-bezier(0.86, 0, 0.07, 1);
}

audio:hover,
audio:focus,
audio:active {
    -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

audio {
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    border-radius: 7px 7px 7px 7px;
    outline: none;
    width: 300px;
}

video {
    outline: none;
    max-width: 100vw;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background: #09c372;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #09c372;
    /* WebKit/Blink Browsers */
}